*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# added:
/.idea/vcs.xml
*.iws
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/vcs.xml
**/.idea/modules.xml

# andere:
**/.idea/compiler.xml
**/.idea/gradle.xml
**/.idea/misc.xml
**/.idea/runConfigurations.xml
**/.idea/copyright/profiles_settings.xml
