<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vintagetechnologies.menschaergeredichnicht">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:uiOptions="none"
        android:isGame="true"
        android:theme="@style/AppTheme">

        <!-- Required for Nearby Connections API -->
        <meta-data android:name="com.google.android.gms.nearby.connection.SERVICE_ID"
            android:value="@string/service_id" />

        <!-- Launch activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Hauptmenue" android:launchMode="singleTask" />

        <activity android:name=".Regeln" android:launchMode="singleTask" />
        <activity android:name=".AboutActivity" android:launchMode="singleTask" />

        <activity android:name=".Spieloberflaeche" android:launchMode="singleTask" android:configChanges="orientation|screenSize" />
        <activity android:name=".GameHost" android:launchMode="singleTask" android:configChanges="orientation|screenSize" />
        <activity android:name=".GameClient" android:launchMode="singleTask" android:configChanges="orientation|screenSize" />

        <activity android:name=".Einstellungen" />

    </application>

    <!-- Required to check for WiFi connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>